.dockerignore
.env
.git
.github
.pytest_cache
.vscode
docker-compose.yml
Dockerfile
LICENCE
README.md
mkdocs.yml
node_modules
.babelrc.json
.eslintrc.js
.flake8
.gitignore
.prettierignore
stylelint.config.mjs
docs
test